/client-sdk.api-1.0.2.jar
/client-sdk.common-1.0.0-SNAPSHOT.jar
/client-sdk.core-1.0.0-SNAPSHOT.jar
/client-sdk.example-1.0.0-SNAPSHOT.jar
/client-sdk.spring-1.0.0-SNAPSHOT.jar
/lippi-oapi-encrpt.jar
/taobao-sdk-java-auto_1479188381469-20170724.jar
